<h3>Liste des restaurants</h3>

<table>
    <thead>
        <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Note moyenne</th>
        <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resto of restaurants" [ngStyle]="{'background-color': (getMoyenne(resto) > 2) ? 'yellow' : (getMoyenne(resto) < 1) ? 'gray' : ''}">
            <td restaurantname>{{resto.nom}}</td>
            <td>{{resto.adresse}}</td>
            <td *ngIf="!isNan(getMoyenne(resto))">{{getMoyenne(resto)}}</td>
            <td *ngIf="isNan(getMoyenne(resto))">/</td>
            <td><a [routerLink]="['/restaurant',resto.id]">Lien</a></td>
        </tr>
    </tbody>
</table>

<app-restaurant-form (restaurantAdded)="addRestaurant($event)"></app-restaurant-form>